# What drives the price of a car?

![](images/kurt.jpeg)

**OVERVIEW**

In this application, you will explore a dataset from kaggle. The original dataset contained information on 3 million used cars. The provided dataset contains information on 426K cars to ensure speed of processing.  Your goal is to understand what factors make a car more or less expensive.  As a result of your analysis, you should provide clear recommendations to your client -- a used car dealership -- as to what consumers value in a used car.

### CRISP-DM Framework

<center>
    <img src = images/crisp.png width = 50%/>
</center>


To frame the task, throughout our practical applications we will refer back to a standard process in industry for data projects called CRISP-DM.  This process provides a framework for working through a data problem.  Your first step in this application will be to read through a brief overview of CRISP-DM [here](https://mo-pcco.s3.us-east-1.amazonaws.com/BH-PCMLAI/module_11/readings_starter.zip).  After reading the overview, answer the questions below.

### Business Understanding

From a business perspective, we are tasked with identifying key drivers for used car prices.  In the CRISP-DM overview, we are asked to convert this business framing to a data problem definition.  Using a few sentences, reframe the task as a data task with the appropriate technical vocabulary.

## Business Objective

In this exercise, we are given a set of use car properties and their price. We would like to find the keys properties of a used car that influence the price positively and negatively. At the end of the analysis, we will advice the dealerships on the type of cars they should keep and avoid in their inventory.

### Data Understanding

After considering the business understanding, we want to get familiar with our data.  Write down some steps that you would take to get to know the dataset and identify any quality issues within.  Take time to get to know the dataset and explore what information it contains and how this could be used to inform your business understanding.

In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv('data/vehicles.csv')

In [2]:
data.head()

,id,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,VIN,drive,size,type,paint_color,state
0,7222695916,prescott,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,az
1,7218891961,fayetteville,11900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ar
2,7221797935,florida keys,21000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fl
3,7222270760,worcester / central MA,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ma
4,7210384030,greensboro,4900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nc

In [3]:
list(data.columns.values)

['id',
 'region',
 'price',
 'year',
 'manufacturer',
 'model',
 'condition',
 'cylinders',
 'fuel',
 'odometer',
 'title_status',
 'transmission',
 'VIN',
 'drive',
 'size',
 'type',
 'paint_color',
 'state']

### First of all "id" and "VIN" nothing to do with the price of a car, we can drop them.

In [4]:
relavent_data = data.drop(['id', 'VIN'], axis=1)

### Also, region and states will only have a small effect of the price, we can also drop them

In [5]:
relavent_data = relavent_data.drop(['region', 'state'], axis=1)
relavent_data

,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color
0,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426875,23590,2019.0,nissan,maxima s sedan 4d,good,6 cylinders,gas,32226.0,clean,other,fwd,NaN,sedan,NaN
426876,30590,2020.0,volvo,s60 t5 momentum sedan 4d,good,NaN,gas,12029.0,clean,other,fwd,NaN,sedan,red
426877,34990,2020.0,cadillac,xt4 sport suv 4d,good,NaN,diesel,4174.0,clean,other,NaN,NaN,hatchback,white
426878,28990,2018.0,lexus,es 350 sedan 4d,good,6 cylinders,gas,30112.0,clean,other,fwd,NaN,sedan,silver
426879,30590,2019.0,bmw,4 series 430i gran coupe,good,NaN,gas,22716.0,clean,other,rwd,NaN,coupe,NaN

### the model of a car is also usually determined by its transmision, size and type, so model is redundent into

In [6]:
relavent_data = relavent_data.drop(['model'], axis=1)

In [7]:
relavent_data

,price,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color
0,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
426875,23590,2019.0,nissan,good,6 cylinders,gas,32226.0,clean,other,fwd,NaN,sedan,NaN
426876,30590,2020.0,volvo,good,NaN,gas,12029.0,clean,other,fwd,NaN,sedan,red
426877,34990,2020.0,cadillac,good,NaN,diesel,4174.0,clean,other,NaN,NaN,hatchback,white
426878,28990,2018.0,lexus,good,6 cylinders,gas,30112.0,clean,other,fwd,NaN,sedan,silver
426879,30590,2019.0,bmw,good,NaN,gas,22716.0,clean,other,rwd,NaN,coupe,NaN

### no one should buy or sell a car without a clean title, so all of those roles should also be dropped

In [8]:
relavent_data = relavent_data[relavent_data['title_status']=='clean']

In [9]:
relavent_data = relavent_data.drop(['title_status'], axis=1)

In [10]:
relavent_data

,price,year,manufacturer,condition,cylinders,fuel,odometer,transmission,drive,size,type,paint_color
27,33590,2014.0,gmc,good,8 cylinders,gas,57923.0,other,NaN,NaN,pickup,white
28,22590,2010.0,chevrolet,good,8 cylinders,gas,71229.0,other,NaN,NaN,pickup,blue
29,39590,2020.0,chevrolet,good,8 cylinders,gas,19160.0,other,NaN,NaN,pickup,red
30,30990,2017.0,toyota,good,8 cylinders,gas,41124.0,other,NaN,NaN,pickup,red
31,15000,2013.0,ford,excellent,6 cylinders,gas,128000.0,automatic,rwd,full-size,truck,black
...,...,...,...,...,...,...,...,...,...,...,...,...
426875,23590,2019.0,nissan,good,6 cylinders,gas,32226.0,other,fwd,NaN,sedan,NaN
426876,30590,2020.0,volvo,good,NaN,gas,12029.0,other,fwd,NaN,sedan,red
426877,34990,2020.0,cadillac,good,NaN,diesel,4174.0,other,NaN,NaN,hatchback,white
426878,28990,2018.0,lexus,good,6 cylinders,gas,30112.0,other,fwd,NaN,sedan,silver
426879,30590,2019.0,bmw,good,NaN,gas,22716.0,other,rwd,NaN,coupe,NaN

### Cars that are older than 30 years old are either collector item or garbage, which should be dropped from analysis

In [11]:
relavent_data = relavent_data[relavent_data['year']>1999]
relavent_data

,price,year,manufacturer,condition,cylinders,fuel,odometer,transmission,drive,size,type,paint_color
27,33590,2014.0,gmc,good,8 cylinders,gas,57923.0,other,NaN,NaN,pickup,white
28,22590,2010.0,chevrolet,good,8 cylinders,gas,71229.0,other,NaN,NaN,pickup,blue
29,39590,2020.0,chevrolet,good,8 cylinders,gas,19160.0,other,NaN,NaN,pickup,red
30,30990,2017.0,toyota,good,8 cylinders,gas,41124.0,other,NaN,NaN,pickup,red
31,15000,2013.0,ford,excellent,6 cylinders,gas,128000.0,automatic,rwd,full-size,truck,black
...,...,...,...,...,...,...,...,...,...,...,...,...
426875,23590,2019.0,nissan,good,6 cylinders,gas,32226.0,other,fwd,NaN,sedan,NaN
426876,30590,2020.0,volvo,good,NaN,gas,12029.0,other,fwd,NaN,sedan,red
426877,34990,2020.0,cadillac,good,NaN,diesel,4174.0,other,NaN,NaN,hatchback,white
426878,28990,2018.0,lexus,good,6 cylinders,gas,30112.0,other,fwd,NaN,sedan,silver
426879,30590,2019.0,bmw,good,NaN,gas,22716.0,other,rwd,NaN,coupe,NaN

In [12]:
## Also cars with milage more than 250000 is also not going to have good values, we can also drop them

In [13]:
relavent_data = relavent_data[relavent_data['odometer']<250000]
relavent_data

,price,year,manufacturer,condition,cylinders,fuel,odometer,transmission,drive,size,type,paint_color
27,33590,2014.0,gmc,good,8 cylinders,gas,57923.0,other,NaN,NaN,pickup,white
28,22590,2010.0,chevrolet,good,8 cylinders,gas,71229.0,other,NaN,NaN,pickup,blue
29,39590,2020.0,chevrolet,good,8 cylinders,gas,19160.0,other,NaN,NaN,pickup,red
30,30990,2017.0,toyota,good,8 cylinders,gas,41124.0,other,NaN,NaN,pickup,red
31,15000,2013.0,ford,excellent,6 cylinders,gas,128000.0,automatic,rwd,full-size,truck,black
...,...,...,...,...,...,...,...,...,...,...,...,...
426875,23590,2019.0,nissan,good,6 cylinders,gas,32226.0,other,fwd,NaN,sedan,NaN
426876,30590,2020.0,volvo,good,NaN,gas,12029.0,other,fwd,NaN,sedan,red
426877,34990,2020.0,cadillac,good,NaN,diesel,4174.0,other,NaN,NaN,hatchback,white
426878,28990,2018.0,lexus,good,6 cylinders,gas,30112.0,other,fwd,NaN,sedan,silver
426879,30590,2019.0,bmw,good,NaN,gas,22716.0,other,rwd,NaN,coupe,NaN

### Finally, since we are analyzing car price, we have to drop all the data which the dealiship won't make a profit

In [14]:
relavent_data = relavent_data[relavent_data['price']>1000]
relavent_data

,price,year,manufacturer,condition,cylinders,fuel,odometer,transmission,drive,size,type,paint_color
27,33590,2014.0,gmc,good,8 cylinders,gas,57923.0,other,NaN,NaN,pickup,white
28,22590,2010.0,chevrolet,good,8 cylinders,gas,71229.0,other,NaN,NaN,pickup,blue
29,39590,2020.0,chevrolet,good,8 cylinders,gas,19160.0,other,NaN,NaN,pickup,red
30,30990,2017.0,toyota,good,8 cylinders,gas,41124.0,other,NaN,NaN,pickup,red
31,15000,2013.0,ford,excellent,6 cylinders,gas,128000.0,automatic,rwd,full-size,truck,black
...,...,...,...,...,...,...,...,...,...,...,...,...
426875,23590,2019.0,nissan,good,6 cylinders,gas,32226.0,other,fwd,NaN,sedan,NaN
426876,30590,2020.0,volvo,good,NaN,gas,12029.0,other,fwd,NaN,sedan,red
426877,34990,2020.0,cadillac,good,NaN,diesel,4174.0,other,NaN,NaN,hatchback,white
426878,28990,2018.0,lexus,good,6 cylinders,gas,30112.0,other,fwd,NaN,sedan,silver
426879,30590,2019.0,bmw,good,NaN,gas,22716.0,other,rwd,NaN,coupe,NaN

### Data Preparation

After our initial exploration and fine tuning of the business understanding, it is time to construct our final dataset prior to modeling.  Here, we want to make sure to handle any integrity issues and cleaning, the engineering of new features, any transformations that we believe should happen (scaling, logarithms, normalization, etc.), and general preparation for modeling with `sklearn`.

### For cars in general, customers generally divided in to 2 segments: luxury cars and economic cars
### We should analyze these 2 segment seperately

In [15]:
data[['manufacturer']].value_counts()

manufacturer
ford               70985
chevrolet          55064
toyota             34202
honda              21269
nissan             19067
jeep               19014
ram                18342
gmc                16785
bmw                14699
dodge              13707
mercedes-benz      11817
hyundai            10338
subaru              9495
volkswagen          9345
kia                 8457
lexus               8200
audi                7573
cadillac            6953
chrysler            6031
acura               5978
buick               5501
mazda               5427
infiniti            4802
lincoln             4220
volvo               3374
mitsubishi          3292
mini                2376
pontiac             2288
rover               2113
jaguar              1946
porsche             1384
mercury             1184
saturn              1090
alfa-romeo           897
tesla                868
fiat                 792
harley-davidson      153
ferrari               95
datsun                63
aston-martin          24
land rover            21
morgan                 3
dtype: int64

### Also, brand like Ferrari, Aston-Martin, Harley-davison, Morgan.
### They have their own individual customer segment, we will not include them in the analysis

In [16]:
luxury = relavent_data[relavent_data['manufacturer'].isin(['bmw','mercedes-benz', 'lexus', 'audi', 'cadillac','acura','infiniti','rover','jaguar','porshe', 'alfa-romeo', 'land rover', 'tesla'])]

In [17]:
luxury

,price,year,manufacturer,condition,cylinders,fuel,odometer,transmission,drive,size,type,paint_color
54,31590,2019.0,cadillac,good,NaN,other,12102.0,other,fwd,NaN,hatchback,black
82,25990,2015.0,lexus,good,NaN,other,55783.0,other,NaN,NaN,hatchback,white
83,32990,2018.0,jaguar,good,NaN,other,26685.0,other,NaN,NaN,other,white
85,34990,2020.0,lexus,good,NaN,gas,1722.0,other,fwd,NaN,hatchback,black
91,31990,2018.0,audi,good,NaN,gas,19179.0,other,NaN,NaN,other,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
426873,30990,2018.0,mercedes-benz,good,NaN,gas,15080.0,automatic,rwd,NaN,other,white
426874,33590,2018.0,lexus,good,6 cylinders,gas,30814.0,automatic,rwd,NaN,sedan,white
426877,34990,2020.0,cadillac,good,NaN,diesel,4174.0,other,NaN,NaN,hatchback,white
426878,28990,2018.0,lexus,good,6 cylinders,gas,30112.0,other,fwd,NaN,sedan,silver
426879,30590,2019.0,bmw,good,NaN,gas,22716.0,other,rwd,NaN,coupe,NaN

In [18]:
economic = relavent_data[relavent_data['manufacturer'].isin(['ford','chevrolet','toyota','honda','nissan','jeep','ram','gmc','hyundai','subaru','volkswagen','kia','chrysler','buick','mazda','lincoln','volvo','mitsubishi','mini','pontiac','mercury','saturn','datsun'])]
economic

,price,year,manufacturer,condition,cylinders,fuel,odometer,transmission,drive,size,type,paint_color
27,33590,2014.0,gmc,good,8 cylinders,gas,57923.0,other,NaN,NaN,pickup,white
28,22590,2010.0,chevrolet,good,8 cylinders,gas,71229.0,other,NaN,NaN,pickup,blue
29,39590,2020.0,chevrolet,good,8 cylinders,gas,19160.0,other,NaN,NaN,pickup,red
30,30990,2017.0,toyota,good,8 cylinders,gas,41124.0,other,NaN,NaN,pickup,red
31,15000,2013.0,ford,excellent,6 cylinders,gas,128000.0,automatic,rwd,full-size,truck,black
...,...,...,...,...,...,...,...,...,...,...,...,...
426864,29590,2016.0,toyota,good,6 cylinders,gas,53475.0,automatic,NaN,NaN,SUV,black
426870,22990,2020.0,hyundai,good,NaN,gas,3066.0,other,fwd,NaN,sedan,blue
426871,17990,2018.0,kia,good,NaN,gas,34239.0,other,NaN,NaN,SUV,NaN
426875,23590,2019.0,nissan,good,6 cylinders,gas,32226.0,other,fwd,NaN,sedan,NaN
426876,30590,2020.0,volvo,good,NaN,gas,12029.0,other,fwd,NaN,sedan,red

In [19]:
# After the cars are classified, we can drop the manufacturer column as well
# As mentioned before, we need to analyze them seperately, but we can clean them in the same way
luxury = luxury.drop(['manufacturer'], axis=1)
economic = economic.drop(['manufacturer'], axis=1)

## Clean the year column

In [20]:
luxury['year'].isnull().sum()

0

In [21]:
economic['year'].isnull().sum()

0

### the year is a large number, let scale it so that it is between 0 to 5, the newer the higher

In [22]:
luxury['newness']=luxury['year'].apply(lambda x: (x-1999)/6)
luxury = luxury.drop(['year'], axis=1)
luxury

,price,condition,cylinders,fuel,odometer,transmission,drive,size,type,paint_color,newness
54,31590,good,NaN,other,12102.0,other,fwd,NaN,hatchback,black,3.333333
82,25990,good,NaN,other,55783.0,other,NaN,NaN,hatchback,white,2.666667
83,32990,good,NaN,other,26685.0,other,NaN,NaN,other,white,3.166667
85,34990,good,NaN,gas,1722.0,other,fwd,NaN,hatchback,black,3.500000
91,31990,good,NaN,gas,19179.0,other,NaN,NaN,other,NaN,3.166667
...,...,...,...,...,...,...,...,...,...,...,...
426873,30990,good,NaN,gas,15080.0,automatic,rwd,NaN,other,white,3.166667
426874,33590,good,6 cylinders,gas,30814.0,automatic,rwd,NaN,sedan,white,3.166667
426877,34990,good,NaN,diesel,4174.0,other,NaN,NaN,hatchback,white,3.500000
426878,28990,good,6 cylinders,gas,30112.0,other,fwd,NaN,sedan,silver,3.166667
426879,30590,good,NaN,gas,22716.0,other,rwd,NaN,coupe,NaN,3.333333

In [23]:
economic['newness']=economic['year'].apply(lambda x: (x-1999)/6)
economic = economic.drop(['year'], axis=1)
economic

,price,condition,cylinders,fuel,odometer,transmission,drive,size,type,paint_color,newness
27,33590,good,8 cylinders,gas,57923.0,other,NaN,NaN,pickup,white,2.500000
28,22590,good,8 cylinders,gas,71229.0,other,NaN,NaN,pickup,blue,1.833333
29,39590,good,8 cylinders,gas,19160.0,other,NaN,NaN,pickup,red,3.500000
30,30990,good,8 cylinders,gas,41124.0,other,NaN,NaN,pickup,red,3.000000
31,15000,excellent,6 cylinders,gas,128000.0,automatic,rwd,full-size,truck,black,2.333333
...,...,...,...,...,...,...,...,...,...,...,...
426864,29590,good,6 cylinders,gas,53475.0,automatic,NaN,NaN,SUV,black,2.833333
426870,22990,good,NaN,gas,3066.0,other,fwd,NaN,sedan,blue,3.500000
426871,17990,good,NaN,gas,34239.0,other,NaN,NaN,SUV,NaN,3.166667
426875,23590,good,6 cylinders,gas,32226.0,other,fwd,NaN,sedan,NaN,3.333333
426876,30590,good,NaN,gas,12029.0,other,fwd,NaN,sedan,red,3.500000

## Clean the condition column, and change string to integer

In [24]:
luxury['condition'].isnull().sum()

16948

In [25]:
luxury['condition']=luxury['condition'].fillna('unknown')

In [26]:
luxury['condition'].value_counts()

good         23946
unknown      16948
excellent    10980
like new      2505
fair           270
new             77
salvage         14
Name: condition, dtype: int64

In [27]:
#also drop the salvage cars, there are not and we know they won't sell well already.
luxury=luxury.drop(luxury[luxury['condition']=='salvage'].index)
luxury['condition'].value_counts()

good         23946
unknown      16948
excellent    10980
like new      2505
fair           270
new             77
Name: condition, dtype: int64

In [28]:
luxury['condition'] = luxury['condition'].str.replace('unknown','0').str.replace('fair','1').str.replace('good','2').str.replace('excellent','3').str.replace('like new','4').str.replace('new','5')

In [29]:
luxury['condition'] = luxury['condition'].astype(int)
luxury['condition'].value_counts()

2    23946
0    16948
3    10980
4     2505
1      270
5       77
Name: condition, dtype: int64

In [30]:
# now do the same thing for economic
economic['condition'].isnull().sum()

103820

In [31]:
economic['condition']=economic['condition'].fillna('unknown')
economic['condition'].value_counts()

unknown      103820
good          74933
excellent     59343
like new      13104
fair           2400
new             659
salvage          45
Name: condition, dtype: int64

In [32]:
economic=economic.drop(economic[economic['condition']=='salvage'].index)
economic['condition'].value_counts()

unknown      103820
good          74933
excellent     59343
like new      13104
fair           2400
new             659
Name: condition, dtype: int64

In [33]:
economic['condition'] = economic['condition'].str.replace('unknown','0').str.replace('fair','1').str.replace('good','2').str.replace('excellent','3').str.replace('like new','4').str.replace('new','5')

In [34]:
economic['condition'] = economic['condition'].astype(int)
economic['condition'].value_counts()

0    103820
2     74933
3     59343
4     13104
1      2400
5       659
Name: condition, dtype: int64

## Clean the odometer  column

In [35]:
luxury['odometer'].isnull().sum()

0

In [36]:
economic['odometer'].isnull().sum()

0

In [37]:
# odometer is also a large number we need to scale it like we scale the year: 0 to 5
luxury['milage scale']=luxury['odometer'].apply(lambda x: (x/250000)*5)
economic['milage scale']=economic['odometer'].apply(lambda x: (x/250000)*5)
luxury = luxury.drop(['odometer'], axis=1)
economic = economic.drop(['odometer'], axis=1)

In [38]:
luxury

,price,condition,cylinders,fuel,transmission,drive,size,type,paint_color,newness,milage scale
54,31590,2,NaN,other,other,fwd,NaN,hatchback,black,3.333333,0.24204
82,25990,2,NaN,other,other,NaN,NaN,hatchback,white,2.666667,1.11566
83,32990,2,NaN,other,other,NaN,NaN,other,white,3.166667,0.53370
85,34990,2,NaN,gas,other,fwd,NaN,hatchback,black,3.500000,0.03444
91,31990,2,NaN,gas,other,NaN,NaN,other,NaN,3.166667,0.38358
...,...,...,...,...,...,...,...,...,...,...,...
426873,30990,2,NaN,gas,automatic,rwd,NaN,other,white,3.166667,0.30160
426874,33590,2,6 cylinders,gas,automatic,rwd,NaN,sedan,white,3.166667,0.61628
426877,34990,2,NaN,diesel,other,NaN,NaN,hatchback,white,3.500000,0.08348
426878,28990,2,6 cylinders,gas,other,fwd,NaN,sedan,silver,3.166667,0.60224
426879,30590,2,NaN,gas,other,rwd,NaN,coupe,NaN,3.333333,0.45432

In [39]:
economic

,price,condition,cylinders,fuel,transmission,drive,size,type,paint_color,newness,milage scale
27,33590,2,8 cylinders,gas,other,NaN,NaN,pickup,white,2.500000,1.15846
28,22590,2,8 cylinders,gas,other,NaN,NaN,pickup,blue,1.833333,1.42458
29,39590,2,8 cylinders,gas,other,NaN,NaN,pickup,red,3.500000,0.38320
30,30990,2,8 cylinders,gas,other,NaN,NaN,pickup,red,3.000000,0.82248
31,15000,3,6 cylinders,gas,automatic,rwd,full-size,truck,black,2.333333,2.56000
...,...,...,...,...,...,...,...,...,...,...,...
426864,29590,2,6 cylinders,gas,automatic,NaN,NaN,SUV,black,2.833333,1.06950
426870,22990,2,NaN,gas,other,fwd,NaN,sedan,blue,3.500000,0.06132
426871,17990,2,NaN,gas,other,NaN,NaN,SUV,NaN,3.166667,0.68478
426875,23590,2,6 cylinders,gas,other,fwd,NaN,sedan,NaN,3.333333,0.64452
426876,30590,2,NaN,gas,other,fwd,NaN,sedan,red,3.500000,0.24058

### The rest of the columns, cylinders, fuel, transmission, drive, size, type, paint color, has not quality meaning. we just need to create dummy variables for them

In [40]:
economic['transmission'] = economic['transmission'].fillna('other')
luxury['transmission'] =luxury['transmission'].fillna('other')
economic['cylinders'] = economic['cylinders'].fillna('other')
luxury['cylinders'] =luxury['cylinders'].fillna('other')
economic['fuel'] = economic['fuel'].fillna('other')
luxury['fuel'] =luxury['fuel'].fillna('other')
economic['drive'] = economic['drive'].fillna('other')
luxury['drive'] =luxury['drive'].fillna('other')
economic['size'] = economic['size'].fillna('other')
luxury['size'] =luxury['size'].fillna('other')
economic['type'] = economic['type'].fillna('other')
luxury['type'] =luxury['type'].fillna('other')
economic['paint_color'] = economic['paint_color'].fillna('other')
luxury['paint_color'] =luxury['paint_color'].fillna('other')

In [41]:
# dummized and scaled the transmission column for both economic and luxury
eco_transmission = pd.get_dummies(economic['transmission'])
economic = pd.merge(economic, eco_transmission, left_index=True, right_index=True)
economic = economic.drop(['transmission', 'other'], axis=1)
economic['automatic']=economic['automatic'].apply(lambda x: x*5)
economic['manual']=economic['manual'].apply(lambda x: x*5)

lux_transmission = pd.get_dummies(luxury['transmission'])
luxury = pd.merge(luxury, lux_transmission, left_index=True, right_index=True)
luxury = luxury.drop(['transmission', 'other'], axis=1)
luxury['automatic']=luxury['automatic'].apply(lambda x: x*5)
luxury['manual']=luxury['manual'].apply(lambda x: x*5)

In [42]:
# dummized and scaled the cylinders column for both economic and luxury
eco_cylinders = pd.get_dummies(economic['cylinders'])
economic = pd.merge(economic, eco_cylinders, left_index=True, right_index=True)
economic = economic.drop(['cylinders', 'other'], axis=1)
economic['6 cylinders']=economic['6 cylinders'].apply(lambda x: x*5)
economic['4 cylinders']=economic['4 cylinders'].apply(lambda x: x*5)
economic['8 cylinders']=economic['8 cylinders'].apply(lambda x: x*5)
economic['5 cylinders']=economic['5 cylinders'].apply(lambda x: x*5)
economic['10 cylinders']=economic['10 cylinders'].apply(lambda x: x*5)
economic['3 cylinders']=economic['3 cylinders'].apply(lambda x: x*5)
economic['12 cylinders']=economic['12 cylinders'].apply(lambda x: x*5)

lux_cylinders = pd.get_dummies(luxury['cylinders'])
luxury = pd.merge(luxury, lux_cylinders, left_index=True, right_index=True)
luxury = luxury.drop(['cylinders', 'other'], axis=1)
luxury['6 cylinders']=luxury['6 cylinders'].apply(lambda x: x*5)
luxury['4 cylinders']=luxury['4 cylinders'].apply(lambda x: x*5)
luxury['8 cylinders']=luxury['8 cylinders'].apply(lambda x: x*5)
luxury['5 cylinders']=luxury['5 cylinders'].apply(lambda x: x*5)
luxury['10 cylinders']=luxury['10 cylinders'].apply(lambda x: x*5)
luxury['3 cylinders']=luxury['3 cylinders'].apply(lambda x: x*5)
luxury['12 cylinders']=luxury['12 cylinders'].apply(lambda x: x*5)

In [43]:
# dummized and scaled the fuel column for both economic and luxury
eco_fuel = pd.get_dummies(economic['fuel'])
economic = pd.merge(economic, eco_fuel, left_index=True, right_index=True)
economic = economic.drop(['fuel', 'other'], axis=1)
economic['gas']=economic['gas'].apply(lambda x: x*5)
economic['diesel']=economic['diesel'].apply(lambda x: x*5)
economic['hybrid']=economic['hybrid'].apply(lambda x: x*5)
economic['electric']=economic['electric'].apply(lambda x: x*5)

lux_fuel = pd.get_dummies(luxury['fuel'])
luxury = pd.merge(luxury, lux_fuel, left_index=True, right_index=True)
luxury = luxury.drop(['fuel', 'other'], axis=1)
luxury['gas']=luxury['gas'].apply(lambda x: x*5)
luxury['diesel']=luxury['diesel'].apply(lambda x: x*5)
luxury['hybrid']=luxury['hybrid'].apply(lambda x: x*5)
luxury['electric']=luxury['electric'].apply(lambda x: x*5)

In [44]:
# dummized and scaled the drive column for both economic and luxury
eco_drive = pd.get_dummies(economic['drive'])
economic = pd.merge(economic, eco_drive, left_index=True, right_index=True)
economic = economic.drop(['drive', 'other'], axis=1)
economic['4wd']=economic['4wd'].apply(lambda x: x*5)
economic['fwd']=economic['fwd'].apply(lambda x: x*5)
economic['rwd']=economic['rwd'].apply(lambda x: x*5)

lux_drive = pd.get_dummies(luxury['drive'])
luxury = pd.merge(luxury, lux_drive, left_index=True, right_index=True)
luxury = luxury.drop(['drive', 'other'], axis=1)
luxury['4wd']=luxury['4wd'].apply(lambda x: x*5)
luxury['fwd']=luxury['fwd'].apply(lambda x: x*5)
luxury['rwd']=luxury['rwd'].apply(lambda x: x*5)

In [45]:
# dummized and scaled the size column for both economic and luxury
eco_size = pd.get_dummies(economic['size'])
economic = pd.merge(economic, eco_size, left_index=True, right_index=True)
economic = economic.drop(['size', 'other'], axis=1)
economic['full-size']=economic['full-size'].apply(lambda x: x*5)
economic['mid-size']=economic['mid-size'].apply(lambda x: x*5)
economic['compact']=economic['compact'].apply(lambda x: x*5)
economic['sub-compact']=economic['sub-compact'].apply(lambda x: x*5)

lux_size = pd.get_dummies(luxury['size'])
luxury = pd.merge(luxury, lux_size, left_index=True, right_index=True)
luxury = luxury.drop(['size', 'other'], axis=1)
luxury['full-size']=luxury['full-size'].apply(lambda x: x*5)
luxury['mid-size']=luxury['mid-size'].apply(lambda x: x*5)
luxury['compact']=luxury['compact'].apply(lambda x: x*5)
luxury['sub-compact']=luxury['sub-compact'].apply(lambda x: x*5)

In [46]:
# dummized and scaled the type column for both economic and luxury
eco_type = pd.get_dummies(economic['type'])
economic = pd.merge(economic, eco_type, left_index=True, right_index=True)
economic = economic.drop(['type', 'other'], axis=1)
economic['SUV']=economic['SUV'].apply(lambda x: x*5)
economic['sedan']=economic['sedan'].apply(lambda x: x*5)
economic['pickup']=economic['pickup'].apply(lambda x: x*5)
economic['truck']=economic['truck'].apply(lambda x: x*5)
economic['hatchback']=economic['hatchback'].apply(lambda x: x*5)
economic['coupe']=economic['coupe'].apply(lambda x: x*5)
economic['wagon']=economic['wagon'].apply(lambda x: x*5)
economic['van']=economic['van'].apply(lambda x: x*5)
economic['mini-van']=economic['mini-van'].apply(lambda x: x*5)
economic['convertible']=economic['convertible'].apply(lambda x: x*5)
economic['offroad']=economic['offroad'].apply(lambda x: x*5)
economic['bus']=economic['bus'].apply(lambda x: x*5)

lux_type = pd.get_dummies(luxury['type'])
luxury = pd.merge(luxury, lux_type, left_index=True, right_index=True)
luxury = luxury.drop(['type', 'other'], axis=1)
luxury['SUV']=luxury['SUV'].apply(lambda x: x*5)
luxury['sedan']=luxury['sedan'].apply(lambda x: x*5)
luxury['pickup']=luxury['pickup'].apply(lambda x: x*5)
luxury['truck']=luxury['truck'].apply(lambda x: x*5)
luxury['hatchback']=luxury['hatchback'].apply(lambda x: x*5)
luxury['coupe']=luxury['coupe'].apply(lambda x: x*5)
luxury['wagon']=luxury['wagon'].apply(lambda x: x*5)
luxury['van']=luxury['van'].apply(lambda x: x*5)
luxury['mini-van']=luxury['mini-van'].apply(lambda x: x*5)
luxury['convertible']=luxury['convertible'].apply(lambda x: x*5)
luxury['offroad']=luxury['offroad'].apply(lambda x: x*5)
luxury['bus']=luxury['bus'].apply(lambda x: x*5)

In [47]:
# dummized and scaled the paint_color column for both economic and luxury
eco_paint = pd.get_dummies(economic['paint_color'])
economic = pd.merge(economic, eco_paint, left_index=True, right_index=True)
economic = economic.drop(['paint_color', 'other'], axis=1)
economic['white']=economic['white'].apply(lambda x: x*5)
economic['black']=economic['black'].apply(lambda x: x*5)
economic['silver']=economic['silver'].apply(lambda x: x*5)
economic['red']=economic['red'].apply(lambda x: x*5)
economic['blue']=economic['blue'].apply(lambda x: x*5)
economic['grey']=economic['grey'].apply(lambda x: x*5)
economic['custom']=economic['custom'].apply(lambda x: x*5)
economic['brown']=economic['brown'].apply(lambda x: x*5)
economic['green']=economic['green'].apply(lambda x: x*5)
economic['orange']=economic['orange'].apply(lambda x: x*5)
economic['yellow']=economic['yellow'].apply(lambda x: x*5)
economic['purple']=economic['purple'].apply(lambda x: x*5)

lux_paint = pd.get_dummies(luxury['paint_color'])
luxury = pd.merge(luxury, lux_paint, left_index=True, right_index=True)
luxury = luxury.drop(['paint_color', 'other'], axis=1)
luxury['white']=luxury['white'].apply(lambda x: x*5)
luxury['black']=luxury['black'].apply(lambda x: x*5)
luxury['silver']=luxury['silver'].apply(lambda x: x*5)
luxury['red']=luxury['red'].apply(lambda x: x*5)
luxury['blue']=luxury['blue'].apply(lambda x: x*5)
luxury['grey']=luxury['grey'].apply(lambda x: x*5)
luxury['custom']=luxury['custom'].apply(lambda x: x*5)
luxury['brown']=luxury['brown'].apply(lambda x: x*5)
luxury['green']=luxury['green'].apply(lambda x: x*5)
luxury['orange']=luxury['orange'].apply(lambda x: x*5)
luxury['yellow']=luxury['yellow'].apply(lambda x: x*5)
luxury['purple']=luxury['purple'].apply(lambda x: x*5)

In [48]:
economic.columns

Index(['price', 'condition', 'newness', 'milage scale', 'automatic', 'manual',
       '10 cylinders', '12 cylinders', '3 cylinders', '4 cylinders',
       '5 cylinders', '6 cylinders', '8 cylinders', 'diesel', 'electric',
       'gas', 'hybrid', '4wd', 'fwd', 'rwd', 'compact', 'full-size',
       'mid-size', 'sub-compact', 'SUV', 'bus', 'convertible', 'coupe',
       'hatchback', 'mini-van', 'offroad', 'pickup', 'sedan', 'truck', 'van',
       'wagon', 'black', 'blue', 'brown', 'custom', 'green', 'grey', 'orange',
       'purple', 'red', 'silver', 'white', 'yellow'],
      dtype='object')

### Modeling

With your (almost?) final dataset in hand, it is now time to build some models.  Here, you should build a number of different regression models with the price as the target.  In building your models, you should explore different parameters and be sure to cross-validate your findings.

### The strategy here is to use GridSearchCV to find the optimal hyperparameter with k-fold validation. 
### After that is done, the selected hyper parameter will be used to compute Ridge Regression model with the entire dataset
### We will also try the Lasso model, and get the coefficient as well
### Then the coefficient will be analyzed to see which factor is more infuential to the price

In [49]:
eco_data = economic.drop('price',axis=1)
eco_price = economic['price']
lux_data = luxury.drop('price', axis=1)
lux_price = luxury['price']

In [60]:
## Start with using Grid to search for the best parameters with Ridge regression
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.linear_model import Ridge
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error
from sklearn.datasets import fetch_california_housing

pipe = Pipeline([('scale', StandardScaler()), ('ridge', Ridge())])

In [61]:
param_dict1 = {'ridge__alpha': [1000.0, 100000, 1000000, 10000000]}

grid_eco = GridSearchCV(pipe, param_grid=param_dict1, scoring = 'neg_mean_squared_error', cv=5)
grid_eco.fit(eco_data, eco_price)
eco_preds = grid_eco.predict(eco_data)
eco_mse = mean_squared_error(eco_preds, eco_price)
eco_best_alpha = grid_eco.best_params_
print(f'Economic Car Test MSE: {eco_mse}')
print(f'Economic Car Best Alpha: {list(eco_best_alpha.values())[0]}')

Economic Car Test MSE: 101528056996938.28
Economic Car Best Alpha: 10000000

In [64]:
param_dict1 = {'ridge__alpha': [1.0, 10.0, 100.0, 1000.0, 100000]}

grid_lux = GridSearchCV(pipe, param_grid=param_dict1, scoring = 'neg_mean_squared_error', cv=5)
grid_lux.fit(lux_data, lux_price)
lux_preds = grid_lux.predict(lux_data)
lux_mse = mean_squared_error(lux_preds, lux_price)
lux_best_alpha = grid_lux.best_params_
print(f'Luxury Car Test MSE: {lux_mse}')
print(f'Luxury Car Best Alpha: {list(lux_best_alpha.values())[0]}')

Luxury Car Test MSE: 334103798365873.9
Luxury Car Best Alpha: 1000.0

In [69]:
# Get the coefficients for economic cars
ridge = Ridge(alpha = 10000000)
ridge.fit(eco_data, eco_price)
list(zip(eco_data.columns, (list(ridge.coef_))))

[('condition', -114.69501994886006),
 ('newness', 218.15661198673922),
 ('milage scale', -212.5564354901797),
 ('automatic', 192.58579409811435),
 ('manual', 394.5018297641167),
 ('10 cylinders', -14.653622119095715),
 ('12 cylinders', -0.09636170288421879),
 ('3 cylinders', -6.619293765435759),
 ('4 cylinders', -913.8706768992488),
 ('5 cylinders', -28.133100220269007),
 ('6 cylinders', -890.8710050842219),
 ('8 cylinders', 2457.371851576873),
 ('diesel', -237.49461716144108),
 ('electric', -11.373457338264261),
 ('gas', -8.833722044325517),
 ('hybrid', -60.855107351693924),
 ('4wd', 2186.1911415404934),
 ('fwd', -1116.0978476627574),
 ('rwd', -428.8626652966287),
 ('compact', -131.87983169213922),
 ('full-size', 1079.7453077569835),
 ('mid-size', -352.3539827694701),
 ('sub-compact', -32.96611944541159),
 ('SUV', -872.6823590346356),
 ('bus', -4.277619661769914),
 ('convertible', -46.44755504621987),
 ('coupe', -119.56059326237734),
 ('hatchback', -186.14884494727912),
 ('mini-van', -59.07486070826773),
 ('offroad', -5.912588364484182),
 ('pickup', 1131.8937630480937),
 ('sedan', -709.5220891240738),
 ('truck', -331.5777402573401),
 ('van', -92.14188143561778),
 ('wagon', -151.02312970269344),
 ('black', -3.836702233829759),
 ('blue', -356.384347015662),
 ('brown', -86.12937078080861),
 ('custom', -81.03817794081894),
 ('green', -79.52018321699909),
 ('grey', -225.83042530119226),
 ('orange', -20.657803201176918),
 ('purple', -6.457165721628347),
 ('red', -296.410762854715),
 ('silver', 1255.2488830707944),
 ('white', -816.2123012628261),
 ('yellow', -21.379811648980823)]

In [71]:
# Get the coefficient fo Luxury cars
ridge = Ridge(alpha = 1000)
ridge.fit(lux_data, lux_price)
list(zip(lux_data.columns, (list(ridge.coef_))))

[('condition', -97909.49075969185),
 ('newness', -863613.2686049462),
 ('milage scale', -423568.231360624),
 ('automatic', -13874.111627426008),
 ('manual', -99967.22307493153),
 ('10 cylinders', -63734.67780872591),
 ('12 cylinders', -97675.93569577472),
 ('3 cylinders', -7358.615972586703),
 ('4 cylinders', -2461.7452148986486),
 ('5 cylinders', 321.1204899895398),
 ('6 cylinders', -39810.23928138969),
 ('8 cylinders', -75382.14597949684),
 ('diesel', 8360.966058790631),
 ('electric', -1292.7385682585023),
 ('gas', 8666.995380670342),
 ('hybrid', 8900.443183913618),
 ('4wd', -16380.606240781299),
 ('fwd', -35069.93204521987),
 ('rwd', -32613.525813269098),
 ('compact', -19622.88421423325),
 ('full-size', 9788.556361323976),
 ('mid-size', 5082.865998073716),
 ('sub-compact', -13487.24647179923),
 ('SUV', -35712.495915771484),
 ('bus', -10545.582603036508),
 ('convertible', -134963.56314268516),
 ('coupe', -64664.24343433577),
 ('hatchback', -34823.38298911903),
 ('mini-van', -8700.990980622515),
 ('offroad', -16610.913331019532),
 ('pickup', -27614.293526361565),
 ('sedan', -55567.21044591925),
 ('truck', -28059.652252799708),
 ('van', -8264.79797781026),
 ('wagon', -69705.02493264577),
 ('black', -35013.975587319226),
 ('blue', -37266.50724120441),
 ('brown', -38888.584498869845),
 ('custom', -56964.54352774164),
 ('green', -85611.9178742267),
 ('grey', -34789.31535218053),
 ('orange', -22260.52886920161),
 ('purple', -20402.9704557888),
 ('red', -47728.18127955708),
 ('silver', -56150.29852872174),
 ('white', -26013.260255596746),
 ('yellow', -32946.48588438161)]

## Analyze the same data with Lasso, and get the coefficient

In [77]:
from sklearn.linear_model import LinearRegression, Lasso

# analyze the data for economic cars
lasso = Lasso()
lasso.fit(eco_data, eco_price)
lasso_coef = lasso.coef_
list(zip(eco_data.columns, (list(lasso.coef_))))

[('condition', -5175.023799703015),
 ('newness', 22492.46994998417),
 ('milage scale', -12172.107509015377),
 ('automatic', 12138.520075774499),
 ('manual', 31667.355055980075),
 ('10 cylinders', 11486.2958627189),
 ('12 cylinders', 14338.667547940062),
 ('3 cylinders', -9459.738273158735),
 ('4 cylinders', -5407.2580009468165),
 ('5 cylinders', -4415.372205667809),
 ('6 cylinders', -2175.168673582568),
 ('8 cylinders', 34597.252493756234),
 ('diesel', -23747.814436014603),
 ('electric', -11766.354401193874),
 ('gas', -8555.793366817921),
 ('hybrid', -9597.993158004685),
 ('4wd', 21153.85774444798),
 ('fwd', 6138.770522738342),
 ('rwd', -6801.220208450719),
 ('compact', 4628.5100019279225),
 ('full-size', 20086.896431647005),
 ('mid-size', 6359.13814113251),
 ('sub-compact', 3138.852724950114),
 ('SUV', -27899.865920412147),
 ('bus', -16455.993260752995),
 ('convertible', -15621.831258339336),
 ('coupe', -16136.244485190278),
 ('hatchback', -14682.074463607813),
 ('mini-van', -17634.320417322422),
 ('offroad', -38122.647970607024),
 ('pickup', -9274.91804180627),
 ('sedan', -16092.09633956111),
 ('truck', -40803.84362187905),
 ('van', -19485.701525649427),
 ('wagon', -19955.607527095308),
 ('black', -5868.750511767122),
 ('blue', -10527.186056034061),
 ('brown', -12484.539842102105),
 ('custom', -14175.588507471522),
 ('green', -9054.112584823197),
 ('grey', -9373.638043399424),
 ('orange', -9841.803336198696),
 ('purple', -8001.732021912523),
 ('red', -10879.233947712935),
 ('silver', 17463.67925050342),
 ('white', -13283.731907511996),
 ('yellow', -14390.83783855223)]

In [79]:
# analyze the data for luxury cars
lasso.fit(lux_data, lux_price)
lasso_coef = lasso.coef_
list(zip(lux_data.columns, (list(lasso.coef_))))

[('condition', -101322.18720133981),
 ('newness', -958900.6940092361),
 ('milage scale', -485425.58374119457),
 ('automatic', -16024.232862863375),
 ('manual', -111605.43093360227),
 ('10 cylinders', -107046.92563525512),
 ('12 cylinders', -208999.51534970597),
 ('3 cylinders', -35447.686815772504),
 ('4 cylinders', -1160.5652534676694),
 ('5 cylinders', 3090.3517329527285),
 ('6 cylinders', -41325.99583595035),
 ('8 cylinders', -80818.19849651813),
 ('diesel', 11545.125236625101),
 ('electric', -3070.9629009994374),
 ('gas', 8305.884614845763),
 ('hybrid', 11568.405677776753),
 ('4wd', -14321.367369207865),
 ('fwd', -35903.76258319776),
 ('rwd', -33341.3129302771),
 ('compact', -19324.979670175006),
 ('full-size', 11508.334445306282),
 ('mid-size', 5711.986045678977),
 ('sub-compact', -10815.180214878019),
 ('SUV', -34504.27713019013),
 ('bus', -126507.15268669336),
 ('convertible', -148184.47466350868),
 ('coupe', -67631.065028053),
 ('hatchback', -35797.18721768097),
 ('mini-van', -36726.13933826075),
 ('offroad', -83798.42448377176),
 ('pickup', -83470.1984852648),
 ('sedan', -56798.80538782061),
 ('truck', -44537.92426080818),
 ('van', -8213.544966556552),
 ('wagon', -73397.81946952883),
 ('black', -34630.49561600892),
 ('blue', -37902.44839632682),
 ('brown', -41878.59088507969),
 ('custom', -62165.172932409085),
 ('green', -100653.84744481013),
 ('grey', -35696.21767566951),
 ('orange', -42040.297006913264),
 ('purple', -49594.79574396579),
 ('red', -50589.457135977296),
 ('silver', -58097.75521392979),
 ('white', -25102.548269762367),
 ('yellow', -58345.479847468196)]

### Evaluation

With some modeling accomplished, we aim to reflect on what we identify as a high quality model and what we are able to learn from this.  We should review our business objective and explore how well we can provide meaningful insight on drivers of used car prices.  Your goal now is to distill your findings and determine whether the earlier phases need revisitation and adjustment or if you have information of value to bring back to your client.

# Evaluation of the Economic Car data

From the results of both models, we get a quite consistent results for economic car.
1. Condition of the car is not as important as the age and milage. 
2. Manual transmission tend to have a higher price when compare toautomatic
3. number of cylinders seems to increase the price of the car
4. Diesel cars won't sell well, gas car seems to be the most popular
5. 4 wheel drive cars sell for higer price
6. Full-size cars semmes to be the best size
7. Silver and black are the best colors

# Evaluation of the Luxury Car data

Again, both models gives us similar conclusion for luxury car, but the results are different from economic cars
1. condition of the car seems to be more important than the age of the car
2. Automatic transmission seems to be better than manual
3. small number of cylinders are better
4. Hybird seems to be better than other fuel type
5. like economic cars, 4 wheel drives are better
6. like economic cars, full size and mid size are better
7. colors does not seems to make any difference

### Deployment

Now that we've settled on our models and findings, it is time to deliver the information to the client.  You should organize your work as a basic report that details your primary findings.  Keep in mind that your audience is a group of used car dealers interested in fine tuning their inventory.

From the analysis, we see that the results for ecomonic cars and luxury cars are very different. A used car dealership should handled them seperately with respect to inventory management.

For both economic cars and luxury cars, there are a few things in common. 
1. lower milage is always better
2. Full size and mid size are prefered,
3. 4 wheel drive is prefered.
4. Diesels cars are not prefered

However, there are a few major differences
1. For luxury car, the condition of the car seems to be more important than the age of the car
2. Luxury segment seems to prefer automatic tranmission, while economic segment seems to prefer manual.
3. Hybird luxury cars seems to be better, while gas economic cars are prefered
4. For luxury car, smaller number of cylinders are prefer, while econromic cars, a larger number of cylinders are prefered.